.projectCard {
  width: 500px;
  height: 500px;
  margin: 25px;
}

.projectCardImage {
}

.MuiGridListTileBar-root {
  background-color: antiquewhite;
}

/* project detail page */
#userNameAppBar1 {
  position: absolute;
  right: 25px;
}

/* home page */
#userNameAppBar2 {
  position: absolute;
  right: 25px;
  color: "white";
}
/* new project page */
#userNameAppBar3 {
  position: absolute;
  right: 25px;
}

#newProjectBtn {
  margin-left: 50px;
}

.appBar {
  margin-bottom: 50px;
}

#backToProjectsBtn {
  margin-left: 100px;
}

.searchBar {
  margin-left: 50px;
  margin-right: 50px;
}
#searchIcon {
  margin-right: 15px;
}

#scroll {
  position: fixed;
  top: 750px;
  right: 100px;
}
.projectImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}
.stepDetailImageRight {
  margin-left: 20px;
  float: right;
  width: 400px;
  height: 400px;
}
.stepDetailImageLeft {
  margin-right: 20px;
  float: left;
  width: 400px;
  height: 400px;
}
